.topdiv{
    display: flex;
    align-items: center;
    flex-direction:column;
}
.todobody{
    margin:2rem;
    display: flex;
    align-items: center;
    justify-content:space-around;
    border: 2px solid rgb(106, 118, 175);
    padding: 1rem;
    width: 80%;
}
.todotitle{
    text-align: center;
    text-decoration: solid;
    font-weight: 600;
    text-transform: capitalize;
}
.todocontent{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 40%;
    overflow: hidden;
}